body{
    box-sizing: border-box;
}
.raw1{
    display: flex;
    justify-content: center;
}
.raw{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 330px;
}
.a{
    display: flex;
    height: 50px;
    flex-basis: 400px;
    background: #0c65a6;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}
.b{
    display: flex;
    height: 40px;
    flex-basis: 400px;
    background: #124b78;
    color: aliceblue;
    justify-content: center;
    align-items: center;

}
.c{
    display: flex;
    height: 200px;
    flex-basis: 300px;
    background: #16a1c4;
    color: aliceblue;
    justify-content: center;
    align-items: center;


}
.d{
    display: flex;
    height: 200px;
    flex-basis: 100px;
    background: #5275ac;
    color: aliceblue;
    justify-content: center;
    align-items: center;


}
.f{
    display: flex;
    height: 40px;
    flex-basis: 400px;
    background: #7bcbe2;
    color: aliceblue;
    justify-content: center;
    align-items: center;

}